* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif; }
  body .contenedor {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 0.2fr 3fr 1fr;
    grid-auto-columns: 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas: "header header header header" "section-1 section-1 section-1 section-1" "footer footer footer footer"; }

header {
  grid-area: header;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #787c7c; }
  header .menu {
    width: 100%;
    padding: 1.5rem;
    list-style: none;
    text-align: center; }
    header .menu .logo {
      width: 140px;
      text-align: left; }
    header .menu ul li {
      display: inline-block; }
      header .menu ul li a {
        padding: 10px;
        margin: 10px;
        color: #787c7c;
        text-decoration: none; }
        header .menu ul li a:hover {
          color: #0eafa7;
          border-bottom: 2px solid #0eafa7; }
  header .iconos {
    display: flex;
    height: 157px;
    padding: 24px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; }
    header .iconos .icon {
      width: 24px;
      margin: 15px; }

main {
  grid-area: section-1; }
  main .carrusel {
    width: 90%;
    height: calc(100vh-160px);
    object-fit: cover;
    margin: auto; }
  main .section1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto; }
    main .section1 .iconInfo {
      width: 8rem;
      border-radius: 80px;
      border: 1px solid #787c7c;
      margin: 60px;
      margin-bottom: 20px;
      box-shadow: 5px 2px 5px #b9b8b8; }
    main .section1 h6 {
      color: #787c7c;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      margin-bottom: 60px; }
  main .section2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto; }
    main .section2 .imgGaleria {
      max-width: 380px;
      width: 100%;
      opacity: .8;
      margin: 30px;
      box-shadow: 5px 2px 5px #b9b8b8; }
      main .section2 .imgGaleria:hover {
        opacity: 1; }

footer {
  grid-area: footer;
  width: 90%;
  height: 100%;
  border-top: 1px solid #787c7c;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 40px; }
  footer .empresa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 30px; }
  footer .infoFooter {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .infoFooter .logoFooter {
      width: 140px;
      margin-bottom: 2rem; }
    footer .infoFooter .pFooter {
      color: #787c7c;
      font-size: smaller; }
  footer .formulario {
    width: 30%;
    background-color: #787c7c;
    padding: 1rem;
    margin: 3rem; }
  footer h2 {
    color: white;
    font-size: larger; }
  footer .colorBoton {
    background-color: #0eafa7;
    color: white; }

@media screen and (max-width: 780px) {
  .contenedor {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 0.8fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "header header " "section-1 section-1" "footer footer "; }
    .contenedor ul {
      text-align: right; }
  .section1 {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    margin: auto; }
    .section1 .iconInfo {
      width: 5rem;
      border-radius: 40px;
      margin: 20px; }
    .section1 .h6 {
      text-align: right;
      margin-bottom: 30px; }
  .infoFooter {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem; } }

@media screen and (max-width: 480px) {
  .contenedor {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 2fr 0.6fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "header " "section-1 " "footer "; }
  .section1 {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    margin: auto; }
  .iconInfo {
    width: 5rem;
    border-radius: 40px;
    margin: 20px; }
  .h6 {
    text-align: right;
    margin-bottom: 30px; }
  .infoFooter {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem; }
  .formulario {
    max-width: 320px;
    width: 100%; } }
