* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif; }
  body .contenedor {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 0.2fr 3fr 1fr;
    grid-auto-columns: 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas: "header header header header" "section-1 section-1 section-1 section-1" "footer footer footer footer"; }

header {
  grid-area: header;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #787c7c; }
  header .menu {
    width: 100%;
    padding: 1.5rem;
    list-style: none;
    text-align: center; }
    header .menu .logo {
      width: 140px;
      text-align: left; }
    header .menu ul {
      display: flex; }
      header .menu ul a {
        padding: 10px;
        margin: 10px;
        color: #787c7c;
        text-decoration: none; }
        header .menu ul a:hover {
          color: #0eafa7;
          border-bottom: 2px solid #0eafa7; }
    header .menu .iconos {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      header .menu .iconos form {
        margin-right: 2rem; }

main {
  grid-area: section-1; }
  main .carrusel {
    width: 90%;
    height: calc(100vh- 160px);
    object-fit: cover;
    margin: auto; }
  main .section1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto; }
    main .section1 .iconInfo {
      width: 8rem;
      border-radius: 80px;
      border: 1px solid #787c7c;
      margin: 60px;
      margin-bottom: 20px;
      box-shadow: 5px 2px 5px #b9b8b8; }
    main .section1 h6 {
      color: #787c7c;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      margin-bottom: 60px; }
  main .section2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto; }
    main .section2 .imgGaleria {
      max-width: 380px;
      width: 100%;
      opacity: .8;
      margin: 30px;
      box-shadow: 5px 2px 5px #787c7c; }
      main .section2 .imgGaleria:hover {
        opacity: 1; }

footer {
  grid-area: footer;
  width: 90%;
  height: 100%;
  border-top: 1px solid #787c7c;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 40px; }
  footer .infoFooter {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .infoFooter .logoFooter {
      width: 140px;
      margin-bottom: 2rem; }
    footer .infoFooter .pFooter {
      color: #787c7c;
      font-size: smaller;
      text-align: justify; }
  footer .formulario {
    width: 30%;
    background-color: #787c7c;
    border-radius: 20px;
    padding: 1rem;
    margin: 3rem; }
  footer h2 {
    color: white;
    font-size: larger; }
  footer .colorBoton {
    background-color: #0eafa7;
    color: white; }

@media screen and (max-width: 780px) {
  footer .infoFooter {
    width: 100%;
    margin-bottom: 1rem; }
  footer .formulario {
    width: 100%;
    background-color: #787c7c;
    padding: 1rem;
    margin: 1rem; } }

@media screen and (max-width: 480px) {
  footer .infoFooter {
    width: 100%;
    margin-bottom: 1rem; }
  footer .logoFooter {
    margin-top: 2rem; }
  footer .formulario {
    max-width: 380px;
    width: 100%; } }

main h1 {
  color: #0eafa7;
  font-size: xx-large;
  font-family: 'Montserrat', sans-serif;
  text-align: center; }

main .aparece {
  color: #787c7c;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 2rem;
  animation-duration: 4s;
  animation-name: aparece;
  animation-iteration-count: infinite; }

@keyframes aparece {
  0% {
    opacity: 0.1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }

main .lista {
  margin-top: 1rem;
  color: #787c7c;
  text-align: justify; }
  main .lista:hover {
    color: #0eafa7;
    border-left: 1px solid #0eafa7;
    border-bottom: 1px solid #0eafa7; }
  main .lista:active {
    background-color: #0eafa7;
    color: white;
    border-left: 1px solid #0eafa7;
    border-bottom: 1px solid #0eafa7; }

main .activo {
  background-color: #0eafa7;
  color: white; }
  main .activo:hover {
    color: white;
    border-left: 1px solid #0eafa7;
    border-bottom: 1px solid #0eafa7; }

main .tarjeta {
  margin: 1rem; }

main .botonColor {
  background-color: #0eafa7;
  border-color: #0eafa7;
  color: white; }
  main .botonColor:hover {
    color: #0eafa7;
    border-color: #0eafa7; }

main .botonColor2 {
  background-color: #be1622;
  border-color: #be1622;
  color: white; }
  main .botonColor2:hover {
    color: #be1622;
    border-color: #be1622; }

main h1 {
  text-align: center; }

main h4 {
  color: #787c7c;
  margin: 1rem;
  text-align: center; }
  main h4:hover {
    color: #BD1622;
    font-size: 26px; }

main .galeria {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto; }
  main .galeria .coleccion {
    margin: 2rem;
    background-color: #787c7c;
    box-shadow: 2px 5px 5px 5px #b9b8b8; }
    main .galeria .coleccion .imgCole {
      max-width: 320px;
      margin: 20px;
      box-shadow: 5px 2px 5px #b9b8b8; }

h2 {
  width: 100%;
  background-color: #787c7c;
  color: #ffffff;
  text-align: center; }

main h1 {
  color: #0eafa7;
  font-size: xx-large;
  font-family: 'Montserrat', sans-serif;
  text-align: center; }

main .section4 {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto; }
  main .section4 .imgGaleria1 {
    max-width: 380px;
    width: 100%;
    margin: 30px;
    box-shadow: 5px 2px 5px #b9b8b8; }

main .parrafo1 {
  color: #0eafa7;
  font-size: 16px;
  text-align: justify;
  margin: auto;
  width: 50%; }

main .section3 {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto; }
  main .section3 .imgGaleria2 {
    max-width: 380px;
    width: 100%;
    margin: 30px;
    box-shadow: 5px 2px 5px #b9b8b8; }
  main .section3 .parrafo {
    color: #0eafa7;
    font-size: 16px;
    text-align: justify;
    margin: auto; }

@media screen and (max-width: 780px) {
  body .contenedor {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 0.8fr;
    grid-template-areas: "header header " "section-1 section-1" "footer footer "; }
    body .contenedor ul {
      text-align: right; }
      body .contenedor ul li a {
        margin-right: 0;
        padding: 0; }
    body .contenedor .iconos {
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 2rem; }
  .section1 {
    width: 70%;
    flex-wrap: nowrap;
    align-items: baseline; }
    .section1 .iconInfo {
      width: 5rem;
      border-radius: 40px;
      margin: 20px; }
    .section1 h6 {
      text-align: right;
      margin-bottom: 30px; }
  .section4 {
    width: 100%; }
    .section4 .imgGaleria1 {
      max-width: 380px;
      width: 100%;
      margin: 0;
      box-shadow: 5px 2px 5px #b9b8b8; }
    .section4 .parrafo1 {
      color: #0eafa7;
      font-size: 16px;
      text-align: justify;
      margin: auto;
      width: 100%; }
    .section4 .section3 {
      width: 100%; } }

@media screen and (max-width: 480px) {
  body .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 2fr 0.6fr;
    grid-template-areas: "header " "section-1 " "footer "; }
  main .section1 {
    width: 100%;
    display: inline-block;
    flex-direction: column;
    justify-items: center;
    align-items: baseline;
    margin: 20px auto;
    text-align: center; }
    main .section1 .iconInfo {
      width: 5rem;
      border-radius: 40px;
      margin: 20px; }
    main .section1 h6 {
      margin-bottom: 30px; }
  main .section2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    text-align: center; }
    main .section2 .imgGaleria {
      max-width: 320px;
      width: 100%;
      text-align: center;
      margin: auto 0; }
  main .section4 {
    width: 100%; }
    main .section4 .imgGaleria1 {
      max-width: 380px;
      width: 100%;
      margin: 0;
      box-shadow: 5px 2px 5px #b9b8b8; }
    main .section4 .parrafo1 {
      color: #0eafa7;
      font-size: 16px;
      text-align: justify;
      margin: auto;
      width: 100%; }
  main .section3 {
    width: 100%; } }
