@import "vars";


footer{ 
    grid-area: footer;
    width: 90%;
    height: 100%;
    border-top: 1px solid $color2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    margin: auto;
    margin-top: 40px;
        .infoFooter{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .logoFooter{
                width: 140px;
                margin-bottom:2rem;
            }
            .pFooter{
                color:$color2;
                font-size:smaller;
                text-align: justify;   
            }
        }
        .formulario {
            width: 30%;
            background-color: $color2;
            border-radius: 20px;
            padding: 1rem;
            margin: 3rem;
        }
        h2{
            color: white;
            font-size:larger
        }
        .colorBoton{
            background-color: rgb(14, 175, 167);
            color: white;
        }
    }
    






