header{ 
    grid-area:header;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color:$fondo;
    border-bottom: 1px solid $colortexto2;
    .menu{
        width: 100%;
        padding:1.5rem;
        list-style: none;
        text-align:center;
        .logo{
            width: 140px;
            text-align: left;
        }
        ul{
            display:flex;

            a{
                padding: 10px;
                margin: 10px;
                color:$colortexto2;
                text-decoration: none;
                &:hover{
                    color:$colortexto1;
                    border-bottom: 2px solid $colortexto1;
                }
            }            
        }
        .iconos{
            display: flex;
            flex-direction: row;
            margin-left: 50px;
            justify-content: flex-end;

            img{
                .icono{
                width: 1rem;
                margin:auto 100px;
                padding: 10px;


                }
            }    
        }
    }
}