@media screen and (max-width:780px) {
    
    body{
        .contenedor { 
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.2fr 2fr 0.8fr;
            grid-template-areas:
            "header header "
            "section-1 section-1"
            "footer footer "; 
            ul{
                text-align: right;
                li{
                    a{
                    margin-right:0;
                    padding: 0;
                }
            } 
                
            }
            .iconos{
                flex-direction: column;
                flex-wrap: wrap;
                margin-top: 2rem;
                }
        }
    }
    .section1{
        width: 70%;
        flex-wrap:nowrap;
        align-items:baseline;
        .iconInfo{
            width: 5rem;
            border-radius: 40px;
            margin: 20px;        
        }
        h6{
            text-align:right;
            margin-bottom: 30px;
        }
    }
    .section2{
        width: 100%;;
        margin: 20px auto;
        text-align: center;
        .imgGaleria{
            max-width: 320px;
            text-align: center;
            margin:15px auto;
        }
    }
    .section4{
        width: 100%;
        .imgGaleria1{
            max-width: 380px;
            width: 100%;
            margin: 0;
        }
        .parrafo1{
            width: 100%;
        }
    }
    .section3{
            width: 100%;
            margin: auto;
            p.parrafo{
                margin: 0;
        }
    }
}

    

@media screen and (max-width:480px) {
    body{
        .contenedor { 
            grid-template-columns: 1fr;
            grid-template-rows: 0.2fr 2fr 0.6fr;
            grid-template-areas:
            "header "
            "section-1 "
            "footer ";   
        }
    }
    main{
        .section1{
            width: 100%;
            display: inline-block;
            flex-direction:column;
            justify-items: center;
            align-items:baseline;
            margin:20px auto;
            text-align: center;

            .iconInfo{
                width: 5rem;
                border-radius: 40px;
                margin:20px;
                
            }
            h6{
                margin-bottom: 30px;    
            }
        }
        .section2{
            width: 100%;;
            margin: 20px auto;
            text-align: center;
            .imgGaleria{
                max-width: 320px;
                text-align: center;
                margin:15px auto;
            }
        }
        .section4{
            width: 100%;
            .imgGaleria1{
                max-width: 320px;
                margin:auto;
            }
            .parrafo1{
                width: 100%;
            }
        }
        .section3{
            width: 100%;
            margin: auto;
            img.imgGaleria2{
                max-width: 320px;
                margin:auto;
                text-align: center;
            }
            p.parrafo{
            width: 100%;
            margin: auto;
            
            }
        }    
    }
}
