@media screen and (max-width:780px) {


    footer{
        .infoFooter{
            width: 100%;
            margin-bottom: 1rem;
            } 
        
        .formulario {
            width: 100%;
            background-color: rgb(120, 124, 124);
            padding: 1rem;
            margin: 1rem;}
    }
}

@media screen and (max-width:480px) {

    footer{
        .infoFooter{
            width: 90%;
            margin-bottom: 1rem;
        }
        .logoFooter{
            margin-top:2rem;
        }
        .formulario {
            max-width: 320px;
            width: 100%;
        }
    }
}
