@import "vars";




main{
    h1{
        color: $color3;
        font-size: xx-large;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    .aparece{
        color:$color2;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin-top: 2rem;
        animation-duration: 4s;
        animation-name: aparece;
        animation-iteration-count: infinite;
        @keyframes aparece{
            0%{
                opacity: 0.1;
            }
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0.1;
            }
        }
    }
    
    
    .lista{
        margin-top: 1rem;
        color: rgb(120, 124, 124);
        text-align: justify;
        &:hover{
            color:rgb(14, 175, 167);
            border-left: 1px solid rgb(14, 175, 167);
            border-bottom: 1px solid rgb(14, 175, 167);
        }
        &:active{
            background-color: $color3;
            color:white;
            border-left: 1px solid rgb(14, 175, 167);
            border-bottom: 1px solid rgb(14, 175, 167);
        }
    }
    .activo{
        background-color: $color3;
        color: white;
        &:hover{
            color:white;
            border-left: 1px solid rgb(14, 175, 167);
            border-bottom: 1px solid rgb(14, 175, 167);
        }

    }
    .tarjeta{
        margin: 1rem;
    }
    .botonColor{
        background-color: rgb(14, 175, 167);
        border-color: rgb(14, 175, 167);
        color: white;
        &:hover{
            color: rgb(14, 175, 167);
            border-color: rgb(14, 175, 167);
        }
    }
    .botonColor2{
        background-color:rgb(190,22,34);
        border-color:rgb(190,22,34);
        color: white;
        &:hover{
            color: rgb(190,22,34);;
            border-color: rgb(190,22,34);
        }
    }
}


